fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-openai
langchain-community
openai
tiktoken
sentence-transformers
pinecone
pydantic
python-multipart
pypdf
pymupdf
reportlab
matplotlib
plotly
sentence-transformers
pinecone
